body {
    font-size: 16px;
}

h1 {
    color:rgb(31, 6, 6); font-size: 40px;
}

.wrapper {
    background: rgb(14, 6, 121);
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}

.back {
    background: linear-gradient(rgb(107, 106, 106) rgb(45, 45, 136));

}

.table {
    font-size: 24px;
    color: rgb(255, 255, 255);
    
}

h2 {
    color: white;
}

.gip_sl {
    display: flex;
    color: whitesmoke;

}
.gradient {
    margin: 0 auto;
  max-width: 80%;
  height: 200px;
  background: crimson;
  box-shadow: 0 -150px 70px -120px teal inset,
              0 -220px 70px -120px yellowgreen inset,
              0 -280px 70px -120px gold inset;
  border-radius: 30px;
  border: 10px solid white;
  animation: background 4s infinite alternate;
}

@keyframes background {
  50% {
    background: darkviolet;
    box-shadow: 0 -140px 70px -120px mediumorchid inset,
                0 -210px 70px -120px teal inset,
                0 -280px 70px -120px plum inset;
  }
}

.txt_opr {
    color: white
    ;
}