body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14, 6, 121);
    font-size: 16px;
    
}

h1 {
    color:rgb(31, 6, 6); font-size: 40px;
}

.header {
    /* background: rgba(21, 66, 190, 0.226) url(images/1593743078_75-p-foni-dlya-lendingov-89.jpg); */
}

.back {
    background: linear-gradient(rgb(107, 106, 106) rgb(45, 45, 136))
    background-size auto;
}

.table {
    font-size: 24px;
    color: rgb(255, 255, 255);
    
}

h2 {
    color: white;
}

.gip_sl {
    display: flex;
    color: whitesmoke;

}
.gradient {
width: 100%;
  max-width: 80%;
  height: 200px;
  background: crimson;
  box-shadow: 0 -150px 70px -120px teal inset,
              0 -220px 70px -120px yellowgreen inset,
              0 -280px 70px -120px gold inset;
  border-radius: 30px;
  border: 10px solid white;
  animation: background 4s infinite alternate;
}

@keyframes background {
  50% {
    background: darkviolet;
    box-shadow: 0 -140px 70px -120px mediumorchid inset,
                0 -210px 70px -120px teal inset,
                0 -280px 70px -120px plum inset;
  }
}

.txt_opr {
    color: white
    ;
}